[user]
  name = bonty
  email = bonty.shushusha@gmail.com

[core]
  autocrlf = input
  pager = less

[color]
  ui = auto
  interactive = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = green
	changed = yellow
	untracked = cyan

# [pager]
#   diff = "diff-so-fancy | LESSOPEN='' less -RFX"
#   show = "diff-so-fancy | LESSOPEN='' less -RFX"

[branch]
  autosetuprebase = always

[push]
  default = tracking

[merge]
  ff = false

[pull]
  rebase = true

[alias]
  # @see http://oli.jp/2012/git-powerup/
  # @see http://blog.blindgaenger.net/advanced_git_aliases.html
  st = status
  sh = show
  so = remote show origin
  ft = fetch -p
  up = pull --rebase
  rbm = rebase master      # masterへのrebase
  rbd = rebase develop
  ad = add
  ci = commit
  cam = commit -a --amend  # 直前のcommitを修正
  co = checkout

  # branch
  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged
  delete-merged-branches = !git branch --merged | grep -Ev '\\*|master|develop|staging' | xargs -I % git branch -d %
  dmb = delete-merged-branches

  # log
  wc = whatchanged
  l = log --decorate
  lp = log --decorate --stat --patch
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  lr = log origin
  oneline = log --pretty=oneline
  ranking = shortlog -s -n --no-merges
  loggraph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  logall = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'

  # diff
  d = diff
  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  d4 = diff HEAD~~~~
  d5 = diff HEAD~~~~~

  # mergeの際にconflictが起きたファイルを編集
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # mergeの際にconflictが起きたファイルをadd
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  # grep関連
  gr = grep -n -p --color --heading --break

  # submodule
	su = submodule update --recursive
  sui = submodule update --init

  # other
  fixup = commit --amend -C HEAD

[hub]
  protocol = https

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.1/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[ghq]
  root = ~/.ghq
  root = ~/.go/src

[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
